.Leaderboard{
  width: 40vw;
  height: 80vh;
  background-color: white;
  border-radius: 15px;
  position: absolute;
  right: 10vh;
  top: 10vh;
  padding: 1.5em;
  text-align: center;
}

.Heads{
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
